.header {
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
}

.logo {
    height: 75px;
    width: 75px;
}

/* .nav-items{
    display: flex;
} */

.nav-items > ul {
    display: flex;
    list-style-type: none;
}

.nav-items > ul > li {
    padding: 15px;
    font-weight: bold;
}    

.search {
    padding: 10px;
}

.res-container {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    /* justify-content: center; */
    padding: 20px;
}

.res-card {
    border: 1px solid black;
    width: 200px;
    /* height: 360px; */
    padding: 10px;
}

.res-card:hover {
    box-shadow: 5px 5px 10px grey;
}

.res-logo{
    width: 100%;
}

.filter-btn {
    margin: 10px;
    cursor: pointer;
}

.shimmer-container {
    display: flex;
    flex-wrap: wrap;
}

.shimmer-card {
    margin: 10px;
    width: 200px;
    height: 350px;
    background-color: #f0f0f0;
}

.login-btn {
    padding: 8px 16px;
    /* background-color: #4CAF50; */
    color: black;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin: 2px;
}

.logout-btn {
    padding: 8px 16px;
    background-color: #f44336;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin: 2px;
}